.background{
    background-color: rgb(238, 241, 245);
}

.background-top{
    background-color: rgb(220, 228, 233);
}

.section-container{
    width: 310px;
    height: 100vh;
}

.task-part{
    display: flex;
    justify-content: space-between;
}

.task-title{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}

.task{
    background-color: white;
    margin: 15px 10px;
    padding: 10px;
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.landing{
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 15px;
    margin: 15px;
    width: auto;
}
